.BoardPage_TopStrip{

    width: 100%;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #f4f5f7;
    padding: 8px;
    box-sizing: border-box;
    position: relative;

}

.BoardPage_EarthIcon{
    position: relative;
    width: 16px;
    height: 16px;
    padding-right: 10px;
    top: 2px;
}


.BoardPage_Message{

    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #172b4d;

}

.BoardPage_KnowMore{

    font-size: 14px;
    color: #6b778c;
    font-weight: 400;
    text-decoration: underline;
    margin: 0 0 0 10px;

}


.icons{
    color: #42526e;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 8px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;

}